@media screen and (min-width: 1000px) {

*{
	margin:0 0;
　　box-sizing:border-box;
　　margin-bottom: 1.25rem;
}

body {
    animation: fadeIn 4s ease 0s 1 normal;
    -webkit-animation: fadeIn 4s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}



/*============= C O N T E N T ================*/

#content{
    /*background: linear-gradient(-225deg,#FFF800,#44107A,#FFF800);*/
    background: linear-gradient(-225deg,#FFF800,#7cc68e,#4e8ec6);
    background-size: 600% 600%;
    animation: AnimationName 20s ease infinite;
}
 
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#content div.back-btn-wrap{
    position: fixed;
    top:20px;
    right: 120px;
}
#content div.back-btn{
    top:20px;
    cursor: pointer;
    width: 100px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(1,1,1,0.5);
}
#content div.back-btn:hover{
    animation: spin 3s ease infinite;   
}
@keyframes spin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

#content div.back-btntop{
    font-size: 10px;
    color:white;
    height:48px;
    font-weight: bold;
}
#content div.back-btnbottom{
    height: 48px;
    font-size: 10px;
    color:white;
    font-weight: bold;
    transform: rotateZ(180deg);
}

#content div.top-wrap{
    display: table;
    width: 100%;
    padding-top: 100px;
    height:400px;
}
#content div.top-wrap .top-left{
    width: 50%;
    display: table-cell;
}
#content div.top-wrap .top-left .circle{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: white;
    line-height: 400px;
    text-align: center;
    margin:0 auto;

}
#content div.top-wrap .top-left .circle h1{
    font-size: 50px;
    color: #6BB1A2;
    font-weight: bold;
}

#content div.top-wrap .top-right{
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    color: white;
}

#content div.top-wrap .top-right .border-top{
    width:90%;
    border-bottom:2px white solid;
    margin-bottom: 10px;
}
#content div.top-wrap .top-right h2{
    width: 90%;
    padding-bottom: 10px;
}
#content div.top-wrap .top-right p{
    width: 90%;
}
#content div.top-wrap .top-right .border-bottom{
    width:90%;
    border-top:2px white solid;
    margin-top: 10px;
}

#content div.bottom-wrap{

}
#content div.bottom-wrap p{
    padding-top: 100px;
    text-align: center;
    color: white;
    height: 100px;
    font-size: 20px;
}
#content div.bottom-wrap .img-wrap{
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}
#content div.img-wrap img{
    width: 85%;
}
