@media screen and (min-width: 1000px) {

*{
	margin:0 0;
　　box-sizing:border-box;
　　margin-bottom: 1.25rem;
}


/*============= C O N T E N T ================*/

#content div.top{
    text-align: center;
}
#content div.top p{
    font-size:12px;
}
#content div.top h1{
    padding:200px 0 0 0 ;
    font-size:3rem;
}
#content div.top .circle-wrap{
    margin:0 auto;
    width:40%;
    padding:80px 0 40px 0;
}
#content div.top .circle-wrap .circle{
    display: inline-block;
    border:solid 1px black;
    border-radius: 50%;
    height:100px;
    width:100px;
    vertical-align: top;
    margin: 0 10px;
}
#content div.top .circle-wrap .circle p{
    padding-top: 20px;
    font-size: 10px;
}
#content div.top .circle-wrap .circle p.third-circle{
    padding-top: 25px;
}
#content div.top p.contact-link{
    padding-top:30px;
}

#content div.works{
    display: block;
    text-align: left;
    padding:50px 0 20px 100px;
}
#content div.works h2{
    padding-bottom:20px;
}
#content div.works.select{
}
#content div.works .select .btn{
    display: inline-block;
    border:solid 1px black;
    border-radius: 50%;
    height:50px;
    width:50px;
    line-height: 50px;
    text-align: center;
    float: left;
}
#content div.works .select .next{
    margin-left: 10px;
}

#content div.swiper-container{
    margin-top:80px;
    width:100%;
    height:400px;
    box-sizing: border-box;
}
#content div.swiper-container .swiper-wrapper{
    background-color: white;
    height:400px;
}
#content div.swiper-container .swiper-slide{
    text-align: center;
}
#content div.swiper-container .swiper-slide:nth-child(odd){
    padding-top: 60px;
}
#content div.swiper-container .swiper-button-prev{
    display: none;
}
#content div.swiper-container .swiper-button-next{
    display: none;
}
#content div.swiper-container .img-wrap{
    margin: 0 auto;
    height:200px;
}
#content div.swiper-container .img-wrap{
    overflow: hidden;
    position: relative;
}
#content div.swiper-container img{
    width:100%;
}
#content div.swiper-container .swiper-slide .img-cover{
    background-color: rgba(1,1,1,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}
#content div.swiper-container .subject{
    background-color: white;
    box-shadow: 1px 2px gray;
    margin: 0 auto;
    margin-top: -30px;
    width:80%;
    height:60px;
    line-height: 60px;
    z-index: 100;
    position: relative;
}

